body {
  background-color: #f8d862;
}
h1 {
  text-align: center;
  color: #ef4f1a;
}
h2 {
  color: #ef4f1a;
  font-size: 10px;
  text-align: center;
}
button {
  height: 30px;
  width: 100px;
  outline: none;
  margin: 10px;
  border: none;
  border-radius: 2px;
  color: #ef4f1a;
}

button.current {
  box-shadow: 0 0 0 2px white, 0 0 0 4px black;
}

button:hover {
  color: #d23f0f;
}
